# Worksheet: SQL (MySQL) ‚Äî `students` Table

> Goal: practice 
- **CREATE TABLE**, 
- **INSERT**, 
- **SELECT**, 
- **UPDATE**, and 
- **DELETE**, 

while exploring datatypes such as `INT`, `VARCHAR`, `DECIMAL/NUMERIC`, and `DATE`.

‚ö†Ô∏è This worksheet **does not** use *FOREIGN KEYS*.

## üìì Environment setup (Jupyter Notebook)
If you're running this in a fresh environment, install the required packages.

In [ ]:
pip install ipykernel jupyterlab jupysql pymysql cryptography --upgrade --no-cache-dir

## Connect JupySQL to your MySQL server
1) Load the `sql` extension.
2) Connect to your server (replace user, password, host, port, and database).

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://mysql_user:mysql_password@localhost:3306/mydatabase

%config SqlMagic.displaylimit = 0

---
## Exercise 1 ‚Äî Create the `students` table
Create a table named **`students`** with the following fields:
- `id` (integer, primary key, auto-increment)
- `name` (text)
- `major` (text)
- `gpa` (decimal/numeric, 2 decimal places)
- `birthdate` (date)

Requirements:
- `name`, `major`, `gpa`, and `birthdate` may or may **not** accept `NULL`.

üí° Tip: before creating, you can run 
```SQL
DROP TABLE IF EXISTS <table_namae>;
```

üí° Tip: (CREATE syntax example):
```SQL
-- This is a sample table
CREATE TABLE <table_name> (
  <id_column> INT AUTO_INCREMENT PRIMARY KEY,
  <text_column> VARCHAR(<max_length>),
  <decimal_column> DECIMAL(<precision>,<scale>),
  <date_column> DATE,
  <time_column> TIME,
  <datetime_column> DATETIME
);
```

üí° Tip: Make sure dates use the format `YYYY-MM-DD` (See more about [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) and other [MySQL reference](https://dev.mysql.com/doc/refman/8.4/en/date-and-time-literals.html)).

**Answer**:

In [ ]:
%%sql

-- EXERCISE 1:
-- 1) (Optional) Drop the table if it already exists
-- 2) Create the students table with the required fields

## Exercise 2 ‚Äî Confirm the structure (SELECT)
Write a query to confirm the table was created and the datatypes are correct.

üí° Tip: In MySQL you can use `DESCRIBE <table_name>;` or `SHOW COLUMNS FROM <table_name>;` or `SELECT * FROM <table_name>;`.

**Answer:**

In [ ]:
%%sql

-- EXERCISE 2:
-- Write your structure-check query here

---
## Exercise 3 ‚Äî Insert data (10 records)
Insert **10 students** into the `students` table using **a single** `INSERT INTO ... VALUES (...), (...), ...;` statement.

Use exactly this data:
| id | name               | major            |   gpa | birthdate  |
| -: | ------------------ | ---------------- | ----: | ---------- |
|  1 | Ana Silva          | Computer Science | 17.50 | 2007-03-14 |
|  2 | Bruno Costa        | Mathematics      | 14.20 | 2006-11-02 |
|  3 | Carla Mendes       | Biology          | 16.10 | 2007-07-29 |
|  4 | Daniel Rocha       | Engineering      | 13.80 | 2006-01-18 |
|  5 | Eva Santos         | Mathematics      | 18.30 | 2007-09-05 |
|  6 | Filipe Almeida     | Mathematics      | 12.60 | 2006-05-21 |
|  7 | Guilherme Ferreira | Mathematics      | 15.70 | 2007-12-10 |
|  8 | Helena Sousa       | Physics          | 16.90 | 2006-08-03 |
|  9 | In√™s Pereira       | Biology          | 13.10 | 2007-02-27 |
| 10 | Jo√£o Martins       | Chemistry        | 14.90 | 2006-04-16 |


üí° Tips:
- If `id` is `AUTO_INCREMENT`, you may omit `id` in your `INSERT`.

**Answer:**

In [ ]:
%%sql

-- EXERCISE 3:
-- Write the INSERT statement with 10 records here

## Exercise 4 ‚Äî Check inserts (SELECT)
Write a `SELECT` query to show all records from `students`.

**Answer:**

In [ ]:
%%sql

-- EXERCISE 4:
-- SELECT all students

---
## Exercise 5 ‚Äî Update data (UPDATE)
Update **Bruno Costa**'s `gpa` to **15.00**.

Then, run a `SELECT` query for that student only to confirm the change.

üí° Tip (UPDATE syntax):

```sql
UPDATE <table_name>
SET <column_1> = <new_value_1>,
    <column_2> = <new_value_2>
WHERE <id_column> = <some_id>;
```

**Answer:**

In [ ]:
%%sql

-- EXERCISE 5:
-- 1) UPDATE Bruno Costa's GPA to 15.00
-- 2) SELECT to confirm

---
## Exercise 6 ‚Äî Delete records (DELETE)
Delete **one or more** students with `gpa` **below 13.00**.

Then, run a `SELECT` query to confirm which records remain.

```sql
DELETE FROM <table_name>
WHERE <condition>;
```
or
```sql
DELETE FROM <table_name>
WHERE <id_column> = <some_id>;
```

**Answer:**

In [ ]:
%%sql

-- EXERCISE 6:
-- 1) DELETE (gpa < 13.00)
-- 2) SELECT to check the current state of the table

---
## Exercise 7 ‚Äî ORDER BY
Write a query that shows:
- `id`, `name`, `major`, `gpa`
- sorted by `gpa` (highest to lowest)


üí° Tip (SELECT + ORDER BY syntax):
```SQL
SELECT <column_1>, <column_2>, <column_3>
FROM <table_name>
ORDER BY <sort_column> DESC;
```
or
```SQL
SELECT <column_1>, <column_2>, <column_3>
FROM <table_name>
ORDER BY <sort_column> DESC, <secondary_column> ASC;
```

**Answer:**

In [ ]:
%%sql

-- EXERCISE 7:
-- SELECT with ORDER BY

---
## Exercise 8 ‚Äî SELECT with filters
Write **two** different `SELECT` queries:
1) Show only students whose `major` is `Computer Science`.
2) Show students with `gpa` between **15.00** and **18.00** (inclusive).

**Answer:**

In [ ]:
%%sql

-- EXERCISE 8 (1):
-- SELECT with WHERE major = 'Computer Science'

**Answer:**

In [ ]:
%%sql

-- EXERCISE 8 (2):
-- SELECT with WHERE gpa BETWEEN 15.00 AND 18.00

---
## Challenge (optional) ‚Äî GROUP BY (by major)
Write a query that shows, **for each major**:
- the major name
- the **number of students** in that major
- the **average GPA** for that major

üí° Tip: Use `GROUP BY <column>` with aggregate functions like `COUNT()` and `AVG()`.

**Answer:**

In [ ]:
%%sql

-- CHALLENGE:
-- Show, for each major:
-- 1) number of students
-- 2) average GPA
-- (Optional) order by average GPA (highest to lowest)

---
**end of doc**