# Formative Worksheet 03: SQL (MySQL) ‚Äî Many-to-Many (Students ‚Üî Majors)

> Goal: repeat the full workflow (**CREATE TABLE**, **INSERT**, **SELECT**, **UPDATE**, **DELETE**) using a **many-to-many** relationship:
- A student can enroll in **multiple** majors
- A major can have **multiple** students
- `gpa` is stored **per enrollment** (one GPA per student‚Äìmajor pair)

‚ö†Ô∏è Start from **zero** (assume previous worksheets do not exist).

## üìì Environment setup (Jupyter Notebook)
If you're running this in a fresh environment, install the required packages.

In [ ]:
pip install ipykernel jupyterlab jupysql pymysql cryptography --upgrade --no-cache-dir

## Connect JupySQL to your MySQL server
1) Load the `sql` extension.
2) Connect to your server (replace user, password, host, port, and database).

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://mysql_user:mysql_password@localhost:3306/mydatabase

%config SqlMagic.displaylimit = 0

---
## Exercise 1 ‚Äî Create the tables (`students`, `majors`, and `enrollments`)

Create three tables:

### Table A: `students`
- `id` (integer, primary key, auto-increment)
- `name` (text, not null)
- `birthdate` (date, not null)

### Table B: `majors`
- `id` (integer, primary key, auto-increment)
- `name` (text, not null, **unique**)

### Table C: `enrollments` (junction table)
- `student_id` (integer, not null)
- `major_id` (integer, not null)
- `gpa` (decimal/numeric, 2 decimal places, not null)

Rules:
- A student can appear multiple times (different majors)
- A major can appear multiple times (different students)
- The pair (`student_id`, `major_id`) should be **unique** (use a composite PRIMARY KEY)

üí° Tip: drop tables first to ensure you start from scratch:
`DROP TABLE IF EXISTS enrollments;` then `DROP TABLE IF EXISTS students;` and `DROP TABLE IF EXISTS majors;`

üí° Tip (many-to-many pattern):
Use a junction table with two foreign keys and a composite primary key:
```sql
CREATE TABLE <junction_table> (
  <a_id> INT NOT NULL,
  <b_id> INT NOT NULL,
  PRIMARY KEY (<a_id>, <b_id>),
  FOREIGN KEY (<a_id>) REFERENCES <table_a>(id),
  FOREIGN KEY (<b_id>) REFERENCES <table_b>(id)
);
```

In [ ]:
%%sql

-- EXERCISE 1:
-- 1) DROP TABLE IF EXISTS ... (enrollments first)
-- 2) CREATE TABLE students
-- 3) CREATE TABLE majors
-- 4) CREATE TABLE enrollments (with FK + composite PK)

## Exercise 2 ‚Äî Confirm the structure (SELECT)
Check that all three tables exist and that the column types are correct.

üí° Tip: In MySQL you can use `DESCRIBE <table_name>;` or `SHOW COLUMNS FROM <table_name>;`.

In [ ]:
%%sql

-- EXERCISE 2:
-- DESCRIBE students;

In [ ]:
%%sql

-- EXERCISE 2 (continued):
-- DESCRIBE majors;

In [ ]:
%%sql

-- EXERCISE 2 (continued):
-- DESCRIBE enrollments;

---
## Exercise 3 ‚Äî Insert data into `majors`
Insert the following majors into `majors`:
- Computer Science
- Economics
- Biology
- Engineering
- Mathematics
- Physics
- Chemistry

In [ ]:
%%sql

-- EXERCISE 3:
-- Insert the 7 majors here

## Exercise 4 ‚Äî Insert data into `students` (10 records)
Insert 10 students (no `major_id` here; majors are handled through `enrollments`).

| name | birthdate |
|---|---|
| Ana Silva | 2007-03-14 |
| Bruno Costa | 2006-11-02 |
| Carla Mendes | 2007-07-29 |
| Daniel Rocha | 2006-01-18 |
| Eva Santos | 2007-09-05 |
| Filipe Almeida | 2006-05-21 |
| Guilherme Ferreira | 2007-12-10 |
| Helena Sousa | 2006-08-03 |
| In√™s Pereira | 2007-02-27 |
| Jo√£o Martins | 2006-04-16 |

- Make sure dates use the format `YYYY-MM-DD` (See more about [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) and the [MySQL reference](https://dev.mysql.com/doc/refman/8.4/en/date-and-time-literals.html)).

In [ ]:
%%sql

-- EXERCISE 4:
-- Insert the 10 students here (omit id if AUTO_INCREMENT)

## Exercise 5 ‚Äî Verify base tables (SELECT)
Show all rows in `students` and `majors`.

In [ ]:
%%sql

-- EXERCISE 5 (1):
-- SELECT * FROM students;

In [ ]:
%%sql

-- EXERCISE 5 (2):
-- SELECT * FROM majors;

---
## Exercise 6 ‚Äî Insert data into `enrollments` (many-to-many)
Insert the enrollments below. Remember: **gpa is per major**.

Dataset (use major names for readability):

| student_name | major_name | gpa |
|---|---|---:|
| Ana Silva | Computer Science | 17.50 |
| Ana Silva | Mathematics | 16.80 |
| Bruno Costa | Economics | 14.20 |
| Bruno Costa | Mathematics | 13.90 |
| Carla Mendes | Biology | 16.10 |
| Carla Mendes | Chemistry | 15.40 |
| Daniel Rocha | Engineering | 13.80 |
| Eva Santos | Mathematics | 18.30 |
| Eva Santos | Physics | 17.10 |
| Filipe Almeida | Mathematics | 12.60 |
| Guilherme Ferreira | Mathematics | 15.70 |
| Guilherme Ferreira | Economics | 15.10 |
| Helena Sousa | Physics | 16.90 |
| In√™s Pereira | Biology | 13.10 |
| Jo√£o Martins | Chemistry | 14.90 |
| Jo√£o Martins | Computer Science | 14.40 |

üí° Tip: you can insert using subqueries to fetch ids:
```sql
INSERT INTO enrollments (student_id, major_id, gpa)
VALUES (
  (SELECT id FROM students WHERE name = '<student_name>'),
  (SELECT id FROM majors WHERE name = '<major_name>'),
  <gpa_value>
);
```

In [ ]:
%%sql

-- EXERCISE 6:
-- Insert the enrollments (student_id + major_id must come from lookups)

## Exercise 7 ‚Äî Verify enrollments (SELECT with JOINs)
Show a readable list of enrollments with:
- student id, student name
- major name
- gpa (per major)

üí° Tip (JOIN):
```sql
SELECT <columns>
FROM <junction> j
JOIN <table_a> a ON j.<a_id> = a.id
JOIN <table_b> b ON j.<b_id> = b.id;
```

In [ ]:
%%sql

-- EXERCISE 7:
-- SELECT with JOINs to display enrollments

---
## Exercise 8 ‚Äî Update data (UPDATE)
Update Bruno Costa's GPA **for the Economics major** to **15.00**.

üí° Tip: In a junction table you often update using BOTH keys:
```sql
UPDATE <junction_table>
SET <column> = <new_value>
WHERE <a_id> = <value> AND <b_id> = <value>;
```

In [ ]:
%%sql

-- EXERCISE 8:
-- UPDATE the enrollment GPA for Bruno Costa in Economics

## Exercise 9 ‚Äî Confirm the update (SELECT)
Show Bruno Costa's enrollments (with major names) to confirm the change.

In [ ]:
%%sql

-- EXERCISE 9:
-- SELECT Bruno Costa enrollments (JOIN)

---
## Exercise 10 ‚Äî Delete records (DELETE)
Delete **one or more enrollments** with `gpa` below **13.00**.

üí° Tip: `DELETE` can be applied to the junction table without deleting the student itself.

In [ ]:
%%sql

-- EXERCISE 10:
-- DELETE enrollments where gpa < 13.00

## Exercise 11 ‚Äî Verification query after DELETE (SELECT)
Show all remaining enrollments (JOIN) after the delete.

In [ ]:
%%sql

-- EXERCISE 11:
-- SELECT with JOINs to verify remaining enrollments

---
## Exercise 12 ‚Äî Global verification query (SELECT + ORDER BY)
Show `student_name`, `major_name`, `gpa`, ordered by `gpa` (highest to lowest).

In [ ]:
%%sql

-- EXERCISE 12:
-- SELECT with JOINs + ORDER BY gpa DESC

---
## Exercise 13 ‚Äî SELECT with filters
Write **two** queries:
1) Show only enrollments for the major `Computer Science`.
2) Show enrollments with `gpa` between **15.00** and **18.00** (inclusive).

In [ ]:
%%sql

-- EXERCISE 13 (1):
-- Filter by major name

In [ ]:
%%sql

-- EXERCISE 13 (2):
-- Filter by GPA range

---
## Challenge (optional) ‚Äî GROUP BY (by major)
Write a query that shows, **for each major**:
- the major name
- the **number of enrolled students** in that major
- the **average GPA** in that major

üí° Tip: Use `GROUP BY` + aggregates like `COUNT()` and `AVG()`.

In [ ]:
%%sql

-- CHALLENGE:
-- GROUP BY major name (with JOINs) to compute COUNT and AVG
-- (Optional) order by average GPA DESC