# Example: JupySQL + MySQL

## ðŸ““ System preparation for running in Jupyter Notebook:
`JupySQL` allows you to run SQL commands and create charts from large datasets in Jupyter using the %sql, %%sql, and %sqlplot magics. JupySQL is compatible with all major databases (e.g., PostgreSQL, MySQL, SQL Server), data warehouses (like Snowflake, BigQuery, Redshift), and embedded engines (SQLite and DuckDB).

## required

In [1]:
pip install ipykernel jupyterlab jupysql pymysql --upgrade --no-cache-dir

Requirement already satisfied: ipykernel in c:\temp\sqlab\venv\lib\site-packages (7.1.0)
Requirement already satisfied: jupyterlab in c:\temp\sqlab\venv\lib\site-packages (4.5.3)
Requirement already satisfied: jupysql in c:\temp\sqlab\venv\lib\site-packages (0.11.1)
Requirement already satisfied: pymysql in c:\temp\sqlab\venv\lib\site-packages (1.1.2)
Requirement already satisfied: comm>=0.1.1 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (0.2.3)
Requirement already satisfied: debugpy>=1.6.5 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (1.8.20)
Requirement already satisfied: ipython>=7.23.1 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (9.10.0)
Requirement already satisfied: jupyter-client>=8.0.0 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (8.8.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (5.9.1)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (0.2.1)
Requirement already satisfied: nest-asyncio>=1.4 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (1.6.0)
Requirement already satisfied: packaging>=22 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (26.0)
Requirement already satisfied: psutil>=5.7 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (7.2.2)
Requirement already satisfied: pyzmq>=25 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (27.1.0)
Requirement already satisfied: tornado>=6.2 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (6.5.4)
Requirement already satisfied: traitlets>=5.4.0 in c:\temp\sqlab\venv\lib\site-packages (from ipykernel) (5.14.3)
Requirement already satisfied: async-lru>=1.0.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab) (2.1.0)
Requirement already satisfied: httpx<1,>=0.25.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab) (0.28.1)
Requirement already satisfied: jinja2>=3.0.3 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab) (3.1.6)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab) (2.3.0)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab) (2.17.0)
Requirement already satisfied: jupyterlab-server<3,>=2.28.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab) (2.28.0)
Requirement already satisfied: notebook-shim>=0.2 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab) (0.2.4)
Requirement already satisfied: setuptools>=41.1.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab) (80.10.2)
Requirement already satisfied: anyio in c:\temp\sqlab\venv\lib\site-packages (from httpx<1,>=0.25.0->jupyterlab) (4.12.1)
Requirement already satisfied: certifi in c:\temp\sqlab\venv\lib\site-packages (from httpx<1,>=0.25.0->jupyterlab) (2026.1.4)
Requirement already satisfied: httpcore==1.* in c:\temp\sqlab\venv\lib\site-packages (from httpx<1,>=0.25.0->jupyterlab) (1.0.9)
Requirement already satisfied: idna in c:\temp\sqlab\venv\lib\site-packages (from httpx<1,>=0.25.0->jupyterlab) (3.11)
Requirement already satisfied: h11>=0.16 in c:\temp\sqlab\venv\lib\site-packages (from httpcore==1.*->httpx<1,>=0.25.0->jupyterlab) (0.16.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (25.1.0)
Requirement already satisfied: jupyter-events>=0.11.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (0.5.4)
Requirement already satisfied: nbconvert>=6.4.4 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (7.17.0)
Requirement already satisfied: nbformat>=5.3.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (5.10.4)
Requirement already satisfied: prometheus-client>=0.9 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (0.24.1)
Requirement already satisfied: pywinpty>=2.0.1 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (3.0.2)
Requirement already satisfied: send2trash>=1.8.2 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (2.1.0)
Requirement already satisfied: terminado>=0.8.3 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (1.9.0)
Requirement already satisfied: babel>=2.10 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab-server<3,>=2.28.0->jupyterlab) (2.18.0)
Requirement already satisfied: json5>=0.9.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab-server<3,>=2.28.0->jupyterlab) (0.13.0)
Requirement already satisfied: jsonschema>=4.18.0 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab-server<3,>=2.28.0->jupyterlab) (4.26.0)
Requirement already satisfied: requests>=2.31 in c:\temp\sqlab\venv\lib\site-packages (from jupyterlab-server<3,>=2.28.0->jupyterlab) (2.32.5)
Requirement already satisfied: prettytable>=3.12.0 in c:\temp\sqlab\venv\lib\site-packages (from jupysql) (3.17.0)
Requirement already satisfied: sqlalchemy in c:\temp\sqlab\venv\lib\site-packages (from jupysql) (2.0.46)
Requirement already satisfied: sqlparse in c:\temp\sqlab\venv\lib\site-packages (from jupysql) (0.5.5)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\temp\sqlab\venv\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: sqlglot>=11.3.7 in c:\temp\sqlab\venv\lib\site-packages (from jupysql) (28.7.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in c:\temp\sqlab\venv\lib\site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\temp\sqlab\venv\lib\site-packages (from jupysql) (0.2.27)
Requirement already satisfied: argon2-cffi-bindings in c:\temp\sqlab\venv\lib\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab) (25.1.0)
Requirement already satisfied: colorama>=0.4.4 in c:\temp\sqlab\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.4.6)
Requirement already satisfied: decorator>=4.3.2 in c:\temp\sqlab\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in c:\temp\sqlab\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in c:\temp\sqlab\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.19.2)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\temp\sqlab\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in c:\temp\sqlab\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in c:\temp\sqlab\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.6.3)
Requirement already satisfied: wcwidth in c:\temp\sqlab\venv\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel) (0.5.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\temp\sqlab\venv\lib\site-packages (from jedi>=0.18.1->ipython>=7.23.1->ipykernel) (0.8.5)
Requirement already satisfied: MarkupSafe>=2.0 in c:\temp\sqlab\venv\lib\site-packages (from jinja2>=3.0.3->jupyterlab) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in c:\temp\sqlab\venv\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.28.0->jupyterlab) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\temp\sqlab\venv\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.28.0->jupyterlab) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in c:\temp\sqlab\venv\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.28.0->jupyterlab) (0.37.0)
Requirement already satisfied: rpds-py>=0.25.0 in c:\temp\sqlab\venv\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.28.0->jupyterlab) (0.30.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-client>=8.0.0->ipykernel) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (4.5.1)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (4.0.0)
Requirement already satisfied: pyyaml>=5.3 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (6.0.3)
Requirement already satisfied: rfc3339-validator in c:\temp\sqlab\venv\lib\site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\temp\sqlab\venv\lib\site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (0.1.1)
Requirement already satisfied: fqdn in c:\temp\sqlab\venv\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (1.5.1)
Requirement already satisfied: isoduration in c:\temp\sqlab\venv\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\temp\sqlab\venv\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (3.0.0)
Requirement already satisfied: rfc3987-syntax>=1.1.0 in c:\temp\sqlab\venv\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (1.1.0)
Requirement already satisfied: uri-template in c:\temp\sqlab\venv\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in c:\temp\sqlab\venv\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (25.10.0)
Requirement already satisfied: beautifulsoup4 in c:\temp\sqlab\venv\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (4.14.3)
Requirement already satisfied: bleach!=5.0.0 in c:\temp\sqlab\venv\lib\site-packages (from bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (6.3.0)
Requirement already satisfied: defusedxml in c:\temp\sqlab\venv\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\temp\sqlab\venv\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\temp\sqlab\venv\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (3.2.0)
Requirement already satisfied: nbclient>=0.5.0 in c:\temp\sqlab\venv\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (0.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\temp\sqlab\venv\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (1.5.1)
Requirement already satisfied: webencodings in c:\temp\sqlab\venv\lib\site-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in c:\temp\sqlab\venv\lib\site-packages (from bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (1.4.0)
Requirement already satisfied: fastjsonschema>=2.15 in c:\temp\sqlab\venv\lib\site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->jupyterlab) (2.21.2)
Requirement already satisfied: posthog>=3.0 in c:\temp\sqlab\venv\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (7.8.0)
Requirement already satisfied: six>=1.5 in c:\temp\sqlab\venv\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: backoff>=1.10.0 in c:\temp\sqlab\venv\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: distro>=1.5.0 in c:\temp\sqlab\venv\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\temp\sqlab\venv\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\temp\sqlab\venv\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.28.0->jupyterlab) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\temp\sqlab\venv\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.28.0->jupyterlab) (2.6.3)
Requirement already satisfied: lark>=1.2.2 in c:\temp\sqlab\venv\lib\site-packages (from rfc3987-syntax>=1.1.0->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (1.3.1)
Requirement already satisfied: executing>=1.2.0 in c:\temp\sqlab\venv\lib\site-packages (from stack_data>=0.6.0->ipython>=7.23.1->ipykernel) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\temp\sqlab\venv\lib\site-packages (from stack_data>=0.6.0->ipython>=7.23.1->ipykernel) (3.0.1)
Requirement already satisfied: pure-eval in c:\temp\sqlab\venv\lib\site-packages (from stack_data>=0.6.0->ipython>=7.23.1->ipykernel) (0.2.3)
Requirement already satisfied: cffi>=2.0.0b1 in c:\temp\sqlab\venv\lib\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab) (2.0.0)
Requirement already satisfied: pycparser in c:\temp\sqlab\venv\lib\site-packages (from cffi>=2.0.0b1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab) (3.0)
Requirement already satisfied: soupsieve>=1.6.1 in c:\temp\sqlab\venv\lib\site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (2.8.3)
Requirement already satisfied: arrow>=0.15.0 in c:\temp\sqlab\venv\lib\site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (1.4.0)
Requirement already satisfied: tzdata in c:\temp\sqlab\venv\lib\site-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab) (2025.3)
Requirement already satisfied: greenlet>=1 in c:\temp\sqlab\venv\lib\site-packages (from sqlalchemy->jupysql) (3.3.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## Load `JupySQL` & Connect to MySQL server

In [2]:
%load_ext sql
%sql mysql+pymysql://mysql_user:mysql_password@localhost:3306/mydatabase

%config SqlMagic.displaylimit = 0

Connecting to 'mysql+pymysql://mysql_user:***@localhost:3306/mydatabase'

## Some sample code

In [7]:
%%sql

-- Create the employees table
DROP TABLE IF EXISTS employees;
CREATE TABLE employees (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    position VARCHAR(50) NOT NULL,
    salary DECIMAL(10, 2) NOT NULL,
    hire_date DATE NOT NULL,
    department VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    phone VARCHAR(20) NOT NULL,
    address VARCHAR(255) NOT NULL
);

Running query in 'mysql+pymysql://mysql_user:***@localhost:3306/mydatabase'

++
||
++
++

In [8]:
%%sql
-- view the empty employees table
SELECT * FROM employees;

Running query in 'mysql+pymysql://mysql_user:***@localhost:3306/mydatabase'

+----+------+----------+--------+-----------+------------+-------+-------+---------+
| id | name | position | salary | hire_date | department | email | phone | address |
+----+------+----------+--------+-----------+------------+-------+-------+---------+
+----+------+----------+--------+-----------+------------+-------+-------+---------+

In [9]:
%%sql

-- Insert some sample data into the employees table
INSERT INTO employees (name, position, salary, hire_date, department, email, phone, address) VALUES
('Alice Johnson', 'Software Engineer', 90000.00, '2020-01-15', 'Engineering', 'alice.johnson@example.com', '555-1234', '123 Elm St'),
('Bob Smith', 'Data Analyst', 75000.00, '2019-03-22', 'Data Science', 'bob.smith@example.com', '555-5678', '456 Oak St'),
('Charlie Brown', 'Project Manager', 85000.00, '2018-07-30', 'Management', 'charlie.brown@example.com', '555-8765', '789 Pine St'),
('Diana Prince', 'UX Designer', 80000.00, '2021-05-10', 'Design', 'diana.prince@example.com', '555-4321', '321 Maple St'),
('Ethan Hunt', 'DevOps Engineer', 95000.00, '2017-11-05', 'Operations', 'ethan.hunt@example.com', '555-9876', '654 Cedar St'),
('Fiona Gallagher', 'HR Specialist', 70000.00, '2019-09-18', 'Human Resources', 'fiona.gallagher@example.com', '555-6543', '987 Birch St'),
('George Martin', 'Marketing Manager', 82000.00, '2020-02-25', 'Marketing', 'george.martin@example.com', '555-3210', '159 Spruce St'),
('Hannah Lee', 'Sales Representative', 68000.00, '2018-12-12', 'Sales', 'hannah.lee@example.com', '555-7890', '753 Willow St'),
('Ian Wright', 'Financial Analyst', 78000.00, '2019-06-17', 'Finance', 'ian.wright@example.com', '555-2345', '852 Cherry St'),
('Jane Doe', 'Customer Support', 65000.00, '2021-08-01', 'Support', 'jane.doe@example.com', '555-3456', '951 Walnut St');

Running query in 'mysql+pymysql://mysql_user:***@localhost:3306/mydatabase'

10 rows affected.

++
||
++
++

In [10]:
%%sql

-- view the employees table with the inserted data
SELECT * FROM employees;

Running query in 'mysql+pymysql://mysql_user:***@localhost:3306/mydatabase'

10 rows affected.

+----+-----------------+----------------------+----------+------------+-----------------+-----------------------------+----------+---------------+
| id |       name      |       position       |  salary  | hire_date  |    department   |            email            |  phone   |    address    |
+----+-----------------+----------------------+----------+------------+-----------------+-----------------------------+----------+---------------+
| 1  |  Alice Johnson  |  Software Engineer   | 90000.00 | 2020-01-15 |   Engineering   |  alice.johnson@example.com  | 555-1234 |   123 Elm St  |
| 2  |    Bob Smith    |     Data Analyst     | 75000.00 | 2019-03-22 |   Data Science  |    bob.smith@example.com    | 555-5678 |   456 Oak St  |
| 3  |  Charlie Brown  |   Project Manager    | 85000.00 | 2018-07-30 |    Management   |  charlie.brown@example.com  | 555-8765 |  789 Pine St  |
| 4  |   Diana Prince  |     UX Designer      | 80000.00 | 2021-05-10 |      Design     |   diana.prince@example.com  | 555-4321 |  321 Maple St |
| 5  |    Ethan Hunt   |   DevOps Engineer    | 95000.00 | 2017-11-05 |    Operations   |    ethan.hunt@example.com   | 555-9876 |  654 Cedar St |
| 6  | Fiona Gallagher |    HR Specialist     | 70000.00 | 2019-09-18 | Human Resources | fiona.gallagher@example.com | 555-6543 |  987 Birch St |
| 7  |  George Martin  |  Marketing Manager   | 82000.00 | 2020-02-25 |    Marketing    |  george.martin@example.com  | 555-3210 | 159 Spruce St |
| 8  |    Hannah Lee   | Sales Representative | 68000.00 | 2018-12-12 |      Sales      |    hannah.lee@example.com   | 555-7890 | 753 Willow St |
| 9  |    Ian Wright   |  Financial Analyst   | 78000.00 | 2019-06-17 |     Finance     |    ian.wright@example.com   | 555-2345 | 852 Cherry St |
| 10 |     Jane Doe    |   Customer Support   | 65000.00 | 2021-08-01 |     Support     |     jane.doe@example.com    | 555-3456 | 951 Walnut St |
+----+-----------------+----------------------+----------+------------+-----------------+-----------------------------+----------+---------------+